{% extends "base.html" %}

{% block title %} Phototeller {% end %}

{% block cover-heading %}Upload your photo{% end %}

{% block lead-content %}
Let me show you the story bebind the photo... \ (^. ^) /
{% end %}

{% block photo-form %}
<Form aciont="/" target="_blank" enctype="multipart/form-data" method="POST" >
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
      <input formtarget="image" type="file" class="form-control" placeholder="Search for...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
</Form>
{% end %}